<!doctype html>

<html>

    <head>
        <title>Migros Urun Arama</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <meta name="MobileOptimized" content="320">

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/datepicker.css"/>
        <link href="/assets/admin/pages/css/search.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link href="/assets/global/css/components.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
        <link id="style_color" href="/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico"/>

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="/assets/global/plugins/respond.min.js"></script>
        <script src="/assets/global/plugins/excanvas.min.js"></script> 
        <![endif]-->
        <script src="/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script src="/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <script type="text/javascript" src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
        <script src="/assets/global/scripts/metronic.js" type="text/javascript"></script>
        <script src="/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
        <script src="/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
        <script src="/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
        <script src="/assets/admin/pages/scripts/search.js"></script>

        <script type="text/javascript" src="/jquery.ui.autocomplete.html.js"></script>
        <link rel="stylesheet" type="text/css" href="/autocomplete.css">

        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                QuickSidebar.init(); // init quick sidebar
                Demo.init(); // init demo features
                Search.init();
            });

            $(function () {
                $("#q").autocomplete({
                    source: function( request, response ) {
                            $.ajax({
                                    url: "/autosuggest",
                                    dataType: "jsonp",
                                    data: {
                                            q: request.term,
                                            storeid:document.getElementById('storeid').value,
                                            customerid:document.getElementById('customerid').value,
                                            custsegmentid:document.getElementById('custsegmentid').value,
                                            discountlevel:document.getElementById('discountlevel').value
                                    },
                                    success: function( data ) {
                                            response( data );
                                    },
                                    dataType: "json"
                            });
                     },
                    minLength: 2,
                    select: function (event, ui) {
                        $("#q").val(ui.item.value);
 
                        //var url = ui.item.id;
                        //if(url != '#') {
                        //    location.href = '/blog/' + url;
                        // }
                    },
                    html: true, // optional (jquery.ui.autocomplete.html.js required)

                    // optional (if other layers overlap autocomplete list)
                    open: function (event, ui) {
                        $(".ui-autocomplete").css("z-index", 1000);
                    }
                });
            });

        </script>
        <!-- END JAVASCRIPTS -->



        <script>
            $(document).ready(function () {
                document.getElementById('storeid').value = '{{storeid|safe}}';
                document.getElementById('customerid').value = '{{customerid|safe}}';
                document.getElementById('custsegmentid').value = '{{custsegmentid|safe}}';
                document.getElementById('discountlevel').value = '{{discountlevel|safe}}';
                document.getElementById('prevFilters').value = '{{prevFilters|safe}}';
                
                $("#q").keypress(function (e) {
                    if (e.keyCode === 13) {
                        if ($("#q").val() == '') {
                            return false;
                        }

                        $("#startindex").val(0);
                        $("#endindex").val(10);
                        $("#query-form").append('<input type="hidden" name="start" value="0" />');
                        $("#query-form").submit();
                    }
                });

                $("#arabutton").click(function () {
                    if ($("#q").val() == '') {
                        return false;
                    }

                    $("#query-form").submit();
                });
                $("#query-form").submit(function () {
                    if ($("#q").val() == '') {
                        return false;
                    }


                    $("this").submit();
                });
                $("ul a").click(function (event) {
                   
                    if ($("#q").val() == '') {
                        return false;
                    }
                    var url = $(this).attr('href');
                    var prevFilters = document.getElementById('prevFilters').value;
                                     
                    var si = $("#startindex").attr("value");
                    var ei = $("#endindex").attr("value");

                    url = url + "&startindex=" + si + "&endindex=" + ei+"&"+prevFilters;

                    $(this).attr('href', url);
                    //window.location = url;

                });

            });
        </script>

        <style>
            .coblue {
                color: blue;
            }
            .cogreen {
                color: green;
            }
            body {
                background-color: #FAFAFA !important;
            }
            .cmargin{
                margin-left:30px;
                margin-right:30px;
            }
            .search-classic{
                margin-bottom: 10px;
            }
        </style>
    </head>

    <body>

        <div class="container">
            <!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper">
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<div class="page-sidebar navbar-collapse collapse">
				<!-- BEGIN SIDEBAR MENU -->
				 <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu1" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
					
					<li class="active">
						<a href="index.html">
						<i class="icon-home"></i>
						<span class="title">Dashboard</span>
						</a>
					</li>
					
					<li>
						<a href="javascript:;">
						<i class="icon-basket"></i>
						<span class="title">Filtreler</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
                                                 
							<li>
								<a href="{{facets.CustomersFavourite.facetQueryUrl}}">
								<i class="icon-home"></i>
								Favori Urunlerim ({{facets.CustomersFavourite.facetCount}})</a>
							</li>
							<li>
								<a href="{{facets.CustomersPurchased.facetQueryUrl}}">
								<i class="icon-home"></i>
								Eski Siparislerim Grubu ({{facets.CustomersPurchased.facetCount}})</a>
							</li>
							<li>
								<a href="{{facets.InPromotion.facetQueryUrl}}">
								<i class="icon-tag"></i>
								Kampanyali Urunler ({{facets.InPromotion.facetCount}})</a>
							</li>
							<li>
								<a href="{{facets.IsMigroskop.facetQueryUrl}}">
								<i class="icon-handbag"></i>
								Migroskop Urunleri ({{facets.IsMigroskop.facetCount}})</a>
							</li>
							<li>
								<a href="{{facets.IsMCCProduct.facetQueryUrl}}">
								<i class="icon-pencil"></i>
								Money Club Indirimli Urunler ({{facets.IsMCCProduct.facetCount}})</a>
							</li>
                                                 
						</ul>
                                            
                                          <li>
						<a href="javascript:;">
						<i class="icon-basket"></i>
						<span class="title">Reyonlar</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
                                                     
                                                        {% for record in facets.PathLevel2 %}
							<li>
								<a href="{{record['facetQueryUrl']}}">
								<i class="icon-home"></i>
								{{record['facetValue']}}  ({{record['facetCount']}})</a>
							</li>
                                                        {% endfor %}                                                 
						</ul>                                                    
					</li>
                                         
                                        <li>
						<a href="javascript:;">
						<i class="icon-basket"></i>
						<span class="title">Markalar</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
                                                     
                                                        {% for record in facets.BrandName %}
							<li>
								<a href="{{record['facetQueryUrl']}}">
								<i class="icon-home"></i>
								{{record['facetValue']}}  ({{record['facetCount']}})</a>
							</li>
                                                        {% endfor %}                                                 
						</ul>                                                    
					</li>
                                        
                                        <li>
						<a href="javascript:;">
						<i class="icon-basket"></i>
						<span class="title">Birim</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
                                                     
                                                        {% for record in facets.UnitSymbol %}
							<li>
								<a href="{{record['facetQueryUrl']}}">
								<i class="icon-home"></i>
								{{record['facetValue']}}  ({{record['facetCount']}})</a>
							</li>
                                                        {% endfor %}                                                 
						</ul>                                                    
					</li>
					
                                        <li> 
						<a href="javascript:;">
						<i class="icon-basket"></i>
						<span class="title">Urun Ozellik</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
                                                     
                                                        {% for record in facets.ProductProperty %}
							<li>
								<a href="{{record['facetQueryUrl']}}">
								<i class="icon-home"></i>
								{{record['facetValue']}}  ({{record['facetCount']}})</a>
							</li>
                                                        {% endfor %}                                                 
						</ul>                                                    
					</li>
				
				</ul>
				<!-- END SIDEBAR MENU -->
			</div>
		</div>
		<!-- END SIDEBAR -->

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD -->
                    <form class="form-horizontal form-bordered" id="query-form" method="GET" action="/arabul">
                        <!-- new components -->
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <a href="/">
                                        <img src="/NewYalafarLogosu.jpg" height="52" width="57">
                                    </a>
                                </div>
                            </div> 

                            <div class="form-group">

                                <label class="control-label col-md-3">Müşteri Numarası</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" placeholder="Müşteri Numarası"  name="customerid" id="customerid" name="customerid">
                                </div>

                                <div class="input-cont col-md-5">
                                    <input class="form-control col-md-3" type="text" id="q" name="q" value="{{queryString|safe}}"/>
                                    <input type="hidden" id="startindex" name="startindex" value="{{startindex}}">
                                    <input type="hidden" id="endindex" name="endindex" value="{{endindex}}">
                                    <input type="hidden" id="prevFilters" name="prevFilters" value="{{prevFilters|safe}}">
                                </div>
                                <div class="col-md-1">
                                    <span class="input-group-btn">
                                        <button id="arabutton" type="button" class="btn green">
                                            Ara &nbsp; <i class="m-icon-swapright m-icon-white"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Mağaza: </label>
                                <div class="col-md-3">
                                    <select class="form-control input-small select2me" data-placeholder="Select Store ID"  name="storeid" id="storeid">
                                        <option value="1005">1005</option>
                                        <option value="1006">1006</option>
                                        <option value="1325">1325</option>
                                        <option value="1405">1405</option>
                                        <option value="1445">1445</option>
                                        <option value="1467">1467</option>
                                        <option value="1468">1468</option>
                                        <option value="1505">1505</option>
                                        <option value="1566">1566</option>
                                        <option value="1567">1567</option>
                                        <option value="1645">1645</option>
                                        <option value="1685">1685</option>
                                        <option value="1707">1707</option>
                                        <option value="1725">1725</option>
                                        <option value="1745">1745</option>
                                        <option value="1746">1746</option>
                                        <option value="175">175</option>
                                        <option value="1765">1765</option>
                                        <option value="177">177</option>
                                        <option value="178">178</option>
                                        <option value="179">179</option>
                                        <option value="1805">1805</option>
                                        <option value="1806">1806</option>
                                        <option value="182">182</option>
                                        <option value="183">183</option>
                                        <option value="184">184</option>
                                        <option value="1846">1846</option>
                                        <option value="185">185</option>
                                        <option value="1865">1865</option>
                                        <option value="1866">1866</option>
                                        <option value="1885">1885</option>
                                        <option value="189">189</option>
                                        <option value="190">190</option>
                                        <option value="1905">1905</option>
                                        <option value="1925">1925</option>
                                        <option value="193">193</option>
                                        <option value="194">194</option>
                                        <option value="1965">1965</option>
                                        <option value="2006">2006</option>
                                        <option value="2045">2045</option>
                                        <option value="2065">2065</option>
                                        <option value="2085">2085</option>
                                        <option value="2106">2106</option>
                                        <option value="2114">2114</option>
                                        <option value="2115">2115</option>
                                        <option value="2116">2116</option>
                                        <option value="2145">2145</option>
                                        <option value="2165">2165</option>
                                        <option value="2166">2166</option>
                                        <option value="2185">2185</option>
                                        <option value="2205">2205</option>
                                        <option value="2226">2226</option>
                                        <option value="2245">2245</option>
                                        <option value="2265">2265</option>
                                        <option value="2287">2287</option>
                                        <option value="2305">2305</option>
                                        <option value="2365">2365</option>
                                        <option value="2366">2366</option>
                                        <option value="237">237</option>
                                        <option value="2386">2386</option>
                                        <option value="2390">2390</option>
                                        <option value="2405">2405</option>
                                        <option value="2426">2426</option>
                                        <option value="2445">2445</option>
                                        <option value="2446">2446</option>
                                        <option value="2465">2465</option>
                                        <option value="2466">2466</option>
                                        <option value="2467">2467</option>
                                        <option value="2505">2505</option>
                                        <option value="2525">2525</option>
                                        <option value="2545">2545</option>
                                        <option value="2566">2566</option>
                                        <option value="2567">2567</option>
                                        <option value="2585">2585</option>
                                        <option value="2586">2586</option>
                                        <option value="2605">2605</option>
                                        <option value="2625">2625</option>
                                        <option value="2627">2627</option>
                                        <option value="2667">2667</option>
                                        <option value="304">304</option>
                                        <option value="324">324</option>
                                        <option value="325">325</option>
                                        <option value="63">63</option>
                                        <option value="645">645</option>
                                        <option value="766">766</option>
                                        <option value="767">767</option>
                                        <option value="905">905</option>
                                        <option value="925">925</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3">Kampanya Duyarlılık Seviyesi: </label>
                                <div class="col-md-3">
                                    <select class="form-control input-small select2me" data-placeholder="Select Discount Level" name="discountlevel" id="discountlevel">
                                        <option value="1">High</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Low</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Müşteri Grubu : </label>
                                <div class="col-md-3">
                                    <select class="form-control input-small select2me" data-placeholder="Select Store ID" name="custsegmentid" id="custsegmentid">
                                        <option value="101">Ebeveyn-Cocuklu</option>
                                        <option value="102">PLciler</option>
                                        <option value="103">Ehl-i keyfler</option>
                                        <option value="104">Promosyoncular</option>
                                        <option value="105">Bakımlılar</option>
                                        <option value="106">Tazeciler</option>
                                        <option value="107">Ev kuşları</option>
                                        <option value="108">Ebeveyn-Pet</option>
                                        <option value="109">Ebeveyn-Bebekli</option>
                                    </select>
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3">SOLR Request? : </label>
                                <div class="col-md-3">
                                    <input type="checkbox" id="showsolrreq" name="showsolrreq"  class="make-switch" data-size="small">
                                </div>
                            </div>

                        </div>
                        <!-- new components -->
                    </form>
                </div>
            </div>

            <br/><br/>
            <div class="row search-form-default">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <h5>{{numFound}} adet sonuc {{qtime}} milisaniyede bulundu: customerid={{customerid|safe}}, storeid={{storeid|safe}},
                        custsegmentid={{custsegmentid|safe}}, discountlevel={{discountlevel|safe}} </h5>
                    <h5>SOLR Request sent={{solrURL|safe}}</h5>
                    <h5>PATH -> {{prevFilters|safe}}</h5>
                </div>
            </div>
            <br/>

            <div class="row search-form-default">
                <div class="col-md-2">
                </div>
                <div style="margin: 10px;">
                    <div class="table-scrollable" >
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>

                                    <th>ProductID</th>
                                    <th>ProductModelName</th>
                                    <th>SegAmount</th>
                                    <th>SegOrderCount</th>
                                    <th>NumberOfClicks</th>
                                    <th>Amount</th>
                                    <th>OrderCount</th>
                                    <th>InPromotion</th>

                                    <th>myFavorites</th>
                                    <th>myOldOrders</th>
                                    
                                    <th>ProductModelD</th>
                                    <th>BrandName</th>

                                    <th>PathLevel2</th>

                                    <th>Description</th>
                                    <th>ProductMoreDetail</th>


                                    <th>ProductFeatures</th>
                                    <th>UnitSymbol</th>
                                    <th>UnitVal</th>
                                    <th>UnitExpr</th>
                                    <th>Price</th>
                                    <th>InStock<th></th>
                                    <th>PSIID<th></th>
                                </tr>
                            </thead>

                            {% for record in records %}
                            <tr height="1em">

                                <td>{{ record['ProductID']|safe }}</td>
                                <td>{{ record['ProductModelName']|safe }}</td>
                                <td>{{ record['SegAmount']|safe }}</td>
                                <td>{{ record['SegOrderCount']|safe }}</td>
                                <td>{{ record['NumberOfClicks']|safe }}</td>
                                <td>{{ record['Amount']|safe }}</td>
                                <td>{{ record['OrderCount']|safe }}</td>
                                <td>{{ record['InPromotion']|safe }}</td>

                                <td>{{ record['myFavorites']|safe }}</td>
                                <td>{{ record['myOldOrders']|safe }}</td>
                                
                                <td>{{ record['ProductModelID']|safe }}</td>
                                <td>{{ record['BrandName']|safe }}</td>

                                <td>{{ record['PathLevel2']|safe }}</td>

                                <td>{{ record['Description']|safe }}</td>
                                <td>{{ record['ProductMoreDetail']|safe }}</td>


                                <td>{{ record['ProductFeatures']|safe }}</td>
                                <td>{{ record['UnitSymbol']|safe }}</td>
                                <td>{{ record['UnitVal']|safe }}</td>
                                <td>{{ record['UnitExpr']|safe }}</td>
                                <td>{{ record['Price']|safe }}</td>
                                <td>{{ record['InStock']|safe }}</td>
                                <td>{{ record['PSIID']|safe }}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>

                <div class="row search-form-default">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8" >
                        <div class="margin-top-20">
                            <ul class="bootpag pagination pagination-sm">
                                {% if !prevurl %}
                                <li data-lp="1" class="prev disabled"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                                {% else %}
                                <li data-lp="1" class="prev"><a href="{{prevurl}}"><i class="fa fa-angle-left"></i></a></li>
                                {% endif %}
                                {% for loop  in pageindexes %}
                                {% if loop.index == currentindex %}
                                <li data-lp="{{ loop.index  }}" class="disabled"><a href="javascript:void(0);">{{ loop.index }}</a></li>
                                {% else %}
                                <li data-lp="{{ loop.index  }}"><a href="{{ loop.url|safe }}">{{ loop.index  }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if !nexturl %}
                                <li data-lp="7" class="next disabled"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                                {% else %}
                                <li data-lp="7" class="next"><a href="{{ nexturl|safe }}"><i class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>



